<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">DB Schenker</span>
            </a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="homepage" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Home</span></a>
                </li>
                <li data-username="create new job" 
                    class="nav-item {% if 'create-new-job' in segment %} active {% endif %}">
                    <a href="/create-new-job.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-file-plus"></i></span>
                            <span class="pcoded-mtext">Create New Job</span></a>
                </li>         
                <li data-username="all jobs" 
                class="nav-item {% if 'all-jobs' in segment %} active {% endif %}">
                <a href="/alljobs.html" class="nav-link">
                    <span class="pcoded-micon"><i class="feather icon-file"></i></span>
                        <span class="pcoded-mtext">Job Page</span></a>
                </li>                
                <li data-username="all applicants" 
                    class="nav-item {% if 'all-applicants' in segment %} active {% endif %}">
                    <a href="/allapplicants.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                            <span class="pcoded-mtext">Applicant Page</span></a>
                </li>                

                <li class="nav-item pcoded-menu-caption">
                    <label>User</label>
                </li>

                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
