

{% load static %}

<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Log In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="bg-gray-100">


    <div id="wrapper" class="flex flex-col justify-between h-screen">

        <!-- Content-->
        <div>
            <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
                <h1 class="lg:text-3xl text-xl font-semibold  mb-6"> Log in</h1>


                <form action="" method="POST">
                    {% csrf_token %}
                    <!-- <input type="text" name="username" placeholder="Username" class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
                    <input type="password" name="password" placeholder="Password" class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;"> -->
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username"><br><br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password"><br><br>
  
                    {% comment %} <div class="flex justify-between my-4">
                        <div class="checkbox">
                            <input type="checkbox" id="chekcbox1" checked>
                            <label for="chekcbox1"><span class="checkbox-icon"></span>Remember Me</label>
                        </div>
                        
                    </div> {% endcomment %}
                    <button type="login" class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full"> Log In</button><a href='/welcome'></a>
                    <div class="text-center mt-5 space-x-2">
                        {% comment %} <a href="#"> Forgot Your Password? </a> {% endcomment %}
                        <p class="text-base"> Not registered? <a href="/" class=""> Create an account </a></p>
                    </div>
                </form>

                <div>
                    <style>
                        h5{
                            color: red;
                        }
                    </style>
                    <style> h5{color: red; } </style>
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                </div>


            </div>
        </div>
        

</body>


</html>