{% extends "layouts/base.html" %}

{% block title %} Applicant {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}<style>
    table.sortable th {
    font-weight: bold;
    border-bottom: thin solid #888;
    position: relative;
    }
    
    table.sortable th button {
    font-weight: bold;
    background: transparent;
    border: none;
    display: inline;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;
    }
    
    table.sortable th button span {
    position: absolute;
    right: 4px;
    }
    
    table.sortable th[aria-sort="descending"] span::after {
    content: "▼";
    color: currentcolor;
    font-size: 100%;
    top: 0;
    }
    
    table.sortable th[aria-sort="ascending"] span::after {
    content: "▲";
    color: currentcolor;
    font-size: 100%;
    top: 0;
    }
    
    table.sortable th:not([aria-sort]) button:focus span::after,
    table.sortable th:not([aria-sort]) button:hover span::after {
    content: "▼";
    color: currentcolor;
    font-size: 100%;
    top: 0;
    }
    </style>
    {% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Sample Page</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Sample Page</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h1>Applicant: {{name}}</h1>

                                            <button type="submit"><a href='/create'>Create New Job Matching</a></button>
                                            <button type="submit"><a href='/alljobs'>View All Job Matches</a></button>
                                            <button type="submit"><a href='/allapplicants'>View All Applicants</a></button>
                                            <a href="{% url 'logout' %}"><input type="button" value="Logout" style="float: right;"></a>
                                        
                                        
                                            <div>
                                              <style> h3{color: red; } </style>
                                              {% for message in messages %}
                                              <h3>{{message}}</h3>
                                              {% endfor %}
                                            </div>
                                        
                                            <div id="applicantinfo">
                                              <p>Applicant Applied Job: {{applied_job_name}}</p>
                                              <p>Current Reprofiled Job: {{reprofiled_job_name}}</p>
                                              <p>Applicant Status: {{recruiter_decision}}</p>
                                              <p><a href="{% url 'resumepdf' applicant_id %}", target="_blank">Click to view Applicant Resume</a></p> 
                                        
                                              <caption style="text-align:right">Job Matching Results:</caption>
                                                <table class="sortable" id="myTable">
                                                    <thead>
                                                    <tr>
                                                        <th onclick="sortTable(0)"><button>Job Name<span aria-hidden="true"></span></button></th>
                                                        <th onclick="sortTable(1)"><button>% Suitability<span aria-hidden="true"></span></button></th>
                                                        <th onclick="sortTable(2)"><button>Rank In Job<span aria-hidden="true"></span></button></th>
                                                        <th onclick="sortTable(3)"><button>Applicant Job Skills<span aria-hidden="true"></span></button></th>
                                                        </tr>
                                                    </thead>
                                        
                                                    {% for row in job_data %}
                                                        <tr>
                                                            <td>{{row.job_name}}</td>
                                                            <td>{{row.applicant_percent}}</td>
                                                            <td>{{row.applicant_rankinjob}}</td>
                                                            <td>{{row.applicant_skills}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        <br>
                                            <div>
                                              <form action = "" method = "POST"> 
                                                {% csrf_token %}
                                                {% comment %} {{ form.as_p }} {% endcomment %}
                                        
                                                <table class="sortable" id="myTable">
                                                  <thead>
                                                    <tr>
                                                      <th>Recruiter Decision:</th>
                                                      <th>OR</th>
                                                      <th>If reprofiling, select job: </th>
                                                    </tr>
                                                  </thead>
                                                      <tr>
                                                          <td><select name="status_change_form" id="status_change_form">
                                                            <option value="">Status</option>
                                                            <option value="Shortlisted">Shortlisted</option>
                                                            <option value="Rejected">Rejected</option>
                                                            <option value="Pending">Pending</option>
                                                            </select>
                                                          </td>
                                                          <td></td>
                                                          <td><select name="chosen_reprofile_job" id="chosen_reprofile_job">
                                                            <option value="">Job Name</option>
                                                            {% for row in job_data %}
                                                            <option value="{{row.job_name}}">{{row.job_name}}</option>
                                                            {% endfor %}
                                                            </select>
                                                          </td>
                                                      </tr>
                                              </table>
                                                <br><br>
                                                <input type="submit" value="Update Applicant Details" />
                                              </form>
                                            </div>
                                            <div>
                                              <caption style="text-align:right">Applicant History:</caption>
                                                <table id="historyTable">
                                                    <thead>
                                                    <tr>
                                                        <th>Job Name</th>
                                                        <th>Status</th>
                                                        <th>Date</th>
                                                        <th>Recruiter</th>
                                                        </tr>
                                                    </thead>
                                        
                                                    {% for row in history_data %}
                                                        <tr>
                                                            <td>{{row.history_job_name}}</td>
                                                            <td>{{row.history_status}}</td>
                                                            <td>{{row.history_date | date:"Y-m-d H:i:s"}}</td>
                                                            <td>{{row.history_recruiter_name}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                                                                </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}<script>
    function myFunction(element) {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById(element);
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>
<script>
    class SortableTable {
    constructor(tableNode) {
      this.tableNode = tableNode;
    
      this.columnHeaders = tableNode.querySelectorAll('thead th');
    
      this.sortColumns = [];
    
      for (var i = 0; i < this.columnHeaders.length; i++) {
        var ch = this.columnHeaders[i];
        var buttonNode = ch.querySelector('button');
        if (buttonNode) {
          this.sortColumns.push(i);
          buttonNode.setAttribute('data-column-index', i);
          buttonNode.addEventListener('click', this.handleClick.bind(this));
        }
      }
    
      this.optionCheckbox = document.querySelector(
        'input[type="checkbox"][value="show-unsorted-icon"]'
      );
    
      if (this.optionCheckbox) {
        this.optionCheckbox.addEventListener(
          'change',
          this.handleOptionChange.bind(this)
        );
        if (this.optionCheckbox.checked) {
          this.tableNode.classList.add('show-unsorted-icon');
        }
      }
    }
    
    setColumnHeaderSort(columnIndex) {
      if (typeof columnIndex === 'string') {
        columnIndex = parseInt(columnIndex);
      }
    
      for (var i = 0; i < this.columnHeaders.length; i++) {
        var ch = this.columnHeaders[i];
        var buttonNode = ch.querySelector('button');
        if (i === columnIndex) {
          var value = ch.getAttribute('aria-sort');
          if (value === 'descending') {
            ch.setAttribute('aria-sort', 'ascending');
            this.sortColumn(
              columnIndex,
              'ascending',
              ch.classList.contains('num')
            );
          } else {
            ch.setAttribute('aria-sort', 'descending');
            this.sortColumn(
              columnIndex,
              'descending',
              ch.classList.contains('num')
            );
          }
        } else {
          if (ch.hasAttribute('aria-sort') && buttonNode) {
            ch.removeAttribute('aria-sort');
          }
        }
      }
    }
    
    sortColumn(columnIndex, sortValue, isNumber) {
      function compareValues(a, b) {
        if (sortValue === 'ascending') {
          if (a.value === b.value) {
            return 0;
          } else {
            if (isNumber) {
              return a.value - b.value;
            } else {
              return a.value < b.value ? -1 : 1;
            }
          }
        } else {
          if (a.value === b.value) {
            return 0;
          } else {
            if (isNumber) {
              return b.value - a.value;
            } else {
              return a.value > b.value ? -1 : 1;
            }
          }
        }
      }
    
      if (typeof isNumber !== 'boolean') {
        isNumber = false;
      }
    
      var tbodyNode = this.tableNode.querySelector('tbody');
      var rowNodes = [];
      var dataCells = [];
    
      var rowNode = tbodyNode.firstElementChild;
    
      var index = 0;
      while (rowNode) {
        rowNodes.push(rowNode);
        var rowCells = rowNode.querySelectorAll('th, td');
        var dataCell = rowCells[columnIndex];
    
        var data = {};
        data.index = index;
        data.value = dataCell.textContent.toLowerCase().trim();
        if (isNumber) {
          data.value = parseFloat(data.value);
        }
        dataCells.push(data);
        rowNode = rowNode.nextElementSibling;
        index += 1;
      }
    
      dataCells.sort(compareValues);
    
      // remove rows
      while (tbodyNode.firstChild) {
        tbodyNode.removeChild(tbodyNode.lastChild);
      }
    
      // add sorted rows
      for (var i = 0; i < dataCells.length; i += 1) {
        tbodyNode.appendChild(rowNodes[dataCells[i].index]);
      }
    }
    
    /* EVENT HANDLERS */
    
    handleClick(event) {
      var tgt = event.currentTarget;
      this.setColumnHeaderSort(tgt.getAttribute('data-column-index'));
    }
    
    handleOptionChange(event) {
      var tgt = event.currentTarget;
    
      if (tgt.checked) {
        this.tableNode.classList.add('show-unsorted-icon');
      } else {
        this.tableNode.classList.remove('show-unsorted-icon');
      }
    }
    }
    
    // Initialize sortable table buttons
    window.addEventListener('load', function () {
    var sortableTables = document.querySelectorAll('table.sortable');
    for (var i = 0; i < sortableTables.length; i++) {
      new SortableTable(sortableTables[i]);
    }
    });
      
    </script>
    
  {% endblock javascripts %}
